header {
  height: 150px;
  background-color: #3d87b4; /* 하늘색 */
  opacity: 0.6;
  z-index: 1;
}
.header-container {
  /* background-color: #333; 원하는 배경색으로 변경하세요 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  padding: 0 1rem; /* 좌우 패딩 조정 */
}

.header-content {
  border-color: rgba(255, 255, 255, 0.25);
  
}

.header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1rem; /* 좌우 패딩 설정 */
}

.header .left-section, .header .right-section {
  display: flex;
  align-items: center;
}

.header .right-section ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header .right-section li {
  margin-left: 1.5rem;
}

.header a {
  color: white;
  text-decoration: none;
}
